.overlay {
  width: 92vw;
  height: 60vh;
  background-color: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  h2 {
    color: #f68f1d;
  }
}
#simple-tabpanel-1{
  .MuiBox-root {
    max-width: 98vw !important;
    padding: 0px 0px;
}
}