.vd-outer-box {
  min-height: 90vh;
}

.vd-white {
  background-color: #fff;
  border: 1px solid #3f51b58a;
  /* box-shadow: 1px 1px 10px #888; */
  border-radius: 4px;
  padding: 10px;
  margin: 2px;
  align-items: center;
}
.vd-white-p {
  background-color: #fff;
  border: 1px solid #3f51b58a;
  /* box-shadow: 1px 1px 10px #888; */
  border-radius: 4px;
  padding: 4px 8px;
  margin: 2px;
  align-items: center;
}

.videoPlaceholder {
  height: 90%;
  width: 100%;
  background-color: black;
}
.videoPlaceholderMini {
  height: 100%;
  width: 100%;
  background-color: black;
}

.vd-d1 {
  display: flex;
  color: #3f51b5;
  font-weight: 600;
}
.vd-d2 {
  justify-content: center;
}

.vd-d3 {
  border: 1px solid;
  padding: 2px;
}

.MuiGrid-grid-xs-12 {
  // margin-top: 10px !important;
}

.violation-btn {
  font-size: 12px !important;
  font-weight: normal !important;
  padding: 0 !important;
  width: max-content;
  padding: 4px 6px !important;
  line-height: 1rem;
}
.incorrect-btn {
  background-color: white !important;
  border: 1px solid #3f51b5 !important;
}
.correct-btn {
  border: 1px solid #f68f1d !important;
}
.videoCard-content {
  padding: 1px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.videoCard-content p {
  font-size: 10px;
}
