.Profile-container {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  .box {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
    .left {
      padding: 1.5rem 2rem;
      width: 480px;
      .section-1 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        .img-box {
          width: 144px;
          height: 144px;
          border-radius: 72px;
          background-color: rgb(14, 74, 123);
          margin: auto;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            border-radius: 72px;
          }
          label {
            position: absolute;
            bottom: 5%;
            right: 5%;
            border: 2px solid rgb(246, 143, 29);
            outline: none;
            border-radius: 6px;
            input {
              display: none;
            }
            .label {
              border: none !important;
              outline: none !important;
            }
          }
        }
      }
      .section-2 {
        height: fit-content;
        width: 100%;
        .bar {
          width: 100%;
          height: 1px;
          background-color: #0e4a7b;
          margin-bottom: 8px;
        }
        .row {
          width: 75%;
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          h6 {
            font-weight: normal;
          }
          //   justify-content: space-between;
        }
      }
    }
    .right {
      padding: 1.5rem 2rem;
      width: 600px;
    }
  }
}
