.customUpload {
  background-color: #f68f1d;
  color: white;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.photoup {
  background-color: #f68f1d;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
}

.gridMargin {
  margin-top: 10px;
}
