$primary-blue: #0e4a7b;
$primary-orange: #f68f1d;
$boxShadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);

@mixin paper {
  box-shadow: $boxShadow;
  border-radius: 8px;
  border: none;
}

.print-container {
  display: flex;
  flex-wrap: wrap;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  background-color: white !important;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      font-size: 16px;
      font-weight: 600;
      color: $primary-blue;
      padding: 8px;
      text-align: left;
      background-color: #004b7f1a;
    }
  }
  tbody {
    tr {
      td {
        font-size: 16px;
        font-weight: 400;
        color: #404040;
        padding: 8px;
        text-align: left;
      }
    }
  }
}
