@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.MuiIconButton-colorInherit {
  color: #0e4a7b !important;
}
.makeStyles-title-76 {
  color: #0e4a7b !important;
}
.MuiAppBar-colorPrimary {
  color: #0e4a7b !important;
  background-color: #ffffff !important;
}
/* .MuiListItem-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
.MuiTableCell-root {
  white-space: nowrap;
}
.MuiPaper-elevation2 {
  width: 100%;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
  background-color: #f68f1d !important;
  color: white !important;
  border-radius: 5px !important;
}
.MuiTabs-indicator {
  background-color: #0e4a7b !important;
}
.MuiBox-root {
  max-width: 100%;
}

.MTableHeader-header-54 {
  padding: 6px 8px !important;
}
.MuiTableCell-alignLeft {
  text-align: center !important;
  padding: 6px 8px !important;
}

.Link-btn-red {
  text-decoration: none;
  color: rgb(249, 54, 54);
  padding: 8px 12px !important;
  font-size: 12px !important;
  background-color: rgba(249, 54, 54, 0.2);
  border-radius: 5px;
}

.Link-btn-green {
  text-decoration: none;
  color: rgb(74, 170, 22);
  padding: 8px 12px !important;
  font-size: 12px !important;
  background-color: rgba(74, 170, 22, 0.2);
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#3f51b5, #f68f1d);
  border-radius: 3px;
}
.MuiDialog-paperWidthSm {
  max-width: 100% !important;
}
.ivision {
  background: linear-gradient(to right, rgb(14, 74, 123) 0%, #f68f1d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
html {
  zoom: 75%;
}

.MuiAlert-standardSuccess {
  color: white !important;
  background-color: #f68f1d !important;
  display: flex;
  align-items: center;
}
.MuiAlert-standardSuccess .MuiAlert-icon {
  color: #ffffff !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
